<div id="avatar">
  <div id="pousada">
    <ul>
      <li><%= link_to 'A Pousada', '/index.html' %></li>
      <li><%= link_to 'Passeios', '/passeios.html' %></li>
      <li><%= link_to 'Fotos', '/fotos.html' %></li>
    </ul>
  </div>
  <div id="reservas">
    <ul>
      <li><%= link_to 'Marechal Floriano', '/historico.html' %></li>
      <li><%= link_to 'Tar&iacute;fas', '/tarifas.html' %></li>
      <li><%= link_to 'Contato', '/contato.html' %></li>
    </ul>
  </div>
</div>